<configuration>
    <!-- Console appender for logging to the console -->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileLocation:-logs}\tms4.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <maxFileSize>100MB</maxFileSize>
            <fileNamePattern>${logFileLocation:-logs}\tms4.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileLocation:-logs}\tms4.ft.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <maxFileSize>100MB</maxFileSize>
            <fileNamePattern>${logFileLocation:-logs}\tms4.ft.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="NICER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileLocation:-logs}\tms4.nicer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <maxFileSize>100MB</maxFileSize>
            <fileNamePattern>${logFileLocation:-logs}\tms4.nicer.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="tms" level="DEBUG" />
    <logger name="tms.fretron" level="DEBUG" additivity="true">
        <appender-ref ref="FT" />
    </logger>
    <logger name="tms.nicerglobe" level="DEBUG" additivity="true">
        <appender-ref ref="NICER" />
    </logger>
    <!-- Root logger definition -->
    <root level="info">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </root>

</configuration>